Skip to content Pull requests Issues Codespaces Marketplace Explore @jacksuwa susanBuck / e15 Public Fork your own copy of susanBuck/e15 Code Issues Pull requests Actions Projects Security Insights Beta Try the new code view e15/bookmark/public/css/books/index.css @susanBuck susanBuck Bookmark at the start of Week 7 Latest commit 2a2e43c Mar 6,
2023 History 1 contributor 46 lines (40 sloc) 678 Bytes #books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#newBooks {
    background-color: lightyellow;
    padding: 10px;
    margin-bottom: 20px;
}

#newBooks ul {
    list-style-type: none;
}

a:link.book,
a:visited.book,
a:active.book,
a:hover.book {
    padding: 10px;
    display: block;
    color: black;
    text-decoration: none;
    border: 1px solid #eeeeee;
    margin: 5px;
    min-width: 25%;
    max-width: 200px;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    height: 55px;
}

a:hover.book {
    background-color: rgb(208, 246, 253);
}

.cover {
    width: 125px;
    height: 175px;
    margin: 10px;
}

Footer © 2023 GitHub,
Inc. Footer navigation Terms Privacy Security Status Docs Contact GitHub Pricing API Training Blog About